@use "reset";

:root {
  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakoint-desktop: 1440px;

  /* Colors */
  --color-white: hsl(0, 0%, 100%);

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  /* Fonts */
  --font-size-p1: 2rem;
  --font-size-p2: 1.5rem;
  --font-size-p3: 1.25rem;
  --font-size-normal: 1rem;

  --font-family-primary: "Outfit", sans-serif;
  --font-family-secondary: "Young Serif", sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  /* Spacing */
  --spacing-150: 1.5rem;
  --spacing-100: 1rem;
  --spacing-50: 0.5rem;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700; /* Defines variable range */
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400 700; /* Defines variable range */
  font-display: swap;
}

body {
  font-family: var(--font-family-primary);
}
